<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTML Example</title>
  </head>
  <body>
    <picture>
      <source
        srcset="
          ./images/b11-1.png?as=avif&width=800  1x,
          ./images/b11-1.png?as=avif&width=1920 2x
        "
        type="image/avif"
      />
      <source
        srcset="
          ./images/b11-1.png?as=webp&width=500  1x,
          ./images/b11-1.png?as=webp&width=1920 2x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/b11-1.png?as=jpeg&width=400  1x,
          ./images/b11-1.png?as=jpeg&width=1920 2x
        "
        type="image/jpeg"
      />
      <img src="./images/b11-1.png?width=200" alt="test image" />
    </picture>
  </body>
</html>
