<!-- <a href="./images/qqq/b11-1.png">
  <picture>
    <source
      srcset="
        ./images/qqq/b11-1.png?as=avif&width=800  1x,
        ./images/qqq/b11-1.png?as=avif&width=1920 2x
      "
      type="image/avif"
    />
    <source
      srcset="
        ./images/qqq/b11-1.png?as=webp&width=500  1x,
        ./images/qqq/b11-1.png?as=webp&width=1920 2x
      "
      type="image/webp"
    />
    <source
      srcset="
        ./images/qqq/b11-1.png?as=jpeg&width=400  1x,
        ./images/qqq/b11-1.png?as=jpeg&width=1920 2x
      "
      type="image/jpeg"
    />
    <img src="./images/qqq/b11-1.png?width=200" alt="test image" />
  </picture>
</a>-->

<div class="test"></div>
